<div class="grid-container">
    <%= form_with url: login_path, html: { class: "log-in-form" } do |f| %>
        <h1 class="text-center">Welcome Back!</h1>
        <p class="text-center">Log in with your username and password</p>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <br>
        <%= f.submit "Log In", class: "button" %>
    <% end %>

</div>

<div class="text-center">
    <%= link_to "Log In with Google", "/auth/google_oauth2", class: "button" %>
</div>