<div class="grid-container">
<%= form_with model: @user, url: signup_path, html: { class: "log-in-form" } do |f| %>
    <h1 class="text-center">Sign Up</h1>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>There were some errors:</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.submit "Sign Up", class: "button" %>
<% end %>
</div>

<div class="text-center">
    <%= link_to "Sign Up with Google", "/auth/google_oauth2", class: "button" %>
</div>