<div class="grid-container">
    <h1 class="text-center">Welcome to Financial Resources for Writers!</h1>
    <p>This site demonstrates a collection of funding, fellowships, grants, and other resources for writers looking to support their work. Resources are also searchable by funding organization and categories.</p>
    <% if session[:user_id] %>
        <h3 class="text-center">Welcome, <%= current_user.first_name %>!</h3>
        <div class="text-center">
            <%= link_to "Account", user_path(current_user), class: "button" %>
            <%= form_with url: logout_path do |f| %>
                <%= f.submit "Log Out", class: "button" %>
            <% end %>
        </div>
    <% else %>
        <div class="text-center">
            <%= link_to "Sign Up", signup_path, class: "button" %>
            <%= link_to "Log In", login_path, class: "button" %>
        </div>
    <% end %>
</div>