<%= form_with model: resource, html: { class: "form" } do |f| %>
    <% if resource.errors.any? %>
        <div id="error_explanation">
            <h2>There were some errors:</h2>
            <ul>
                <% resource.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :amount %>
        <%= f.text_field :amount %>
        <br>
        <%= f.label :link %>
        <%= f.text_field :link %>
        <br>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>

    <div>
        <h3>Organization</h3>
        <% if nested_resource? %>
            <p><%= resource.organization_name %></p>
            <%= f.hidden_field :organization_id %>
        <% else %>
            <%= f.collection_select :organization_id, organizations, :id, :name, include_hidden: false %>
            <br>
            <label for="resource_organization_name">New Organization</label>
            <%= f.fields_for :organization, resource.build_organization do |organization_fields| %>
                <%= organization_fields.text_field :name %>
            <% end %>
        <% end %>
    </div>

    <div>
        <h3>Categories</h3>
        <%= f.collection_check_boxes :category_ids, categories, :id, :name, include_hidden: false %>
        <br>
        <label for="resource_categories_name">New Category</label>
        <%= f.fields_for :categories, resource.categories.build do |categories_fields| %>
            <%= categories_fields.text_field :name %>
        <% end %>
    </div>

    <div class="button-group">
        <%= f.submit class: "button" %>
        <%= link_to "Cancel", :back, class: "button" %>
    </div>
<% end %>
