<h1>Edit Resource</h1>
<%= form_with model: @resource do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :amount %>
        <%= f.text_field :amount %>
        <br>
        <%= f.label :link %>
        <%= f.text_field :link %>
        <br>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>

    <div>
        <h3>Organization</h3>
        <%= f.collection_select :organization_id, @organizations, :id, :name %>
    </div>

    <div>
        <h3>Categories</h3>
        <%= f.collection_check_boxes :category_ids, @categories, :id, :name %>
        <br>
        <label for="resource_categories_name">New Category</label>
        <%= f.fields_for :categories, @resource.categories.build do |categories_fields| %>
            <%= categories_fields.text_field :name %>
        <% end %>
    </div>

    <%= f.submit%>
<% end %>