<h1>Resource Show</h1>
<p>Name: <%= @resource.name %></p>
<p>Amount: <%= @resource.amount %></p>
<p>Link: <%= @resource.link %></p>
<p>Organization: <%= @resource.organization_name %></p>
<p>Description: <%= @resource.description %></p>