<h1 class="text-center"><i class="fas fa-paperclip"></i> Resource: <%= @resource.name %></h1>
<p>Amount: <%= number_to_currency(@resource.amount, unit: "$", precision: 0) %></p>
<p>Link: <%= link_to @resource.link, @resource.link %></p>
<p>Organization: <%= link_to @resource.organization_name, organization_path(@resource.organization) %></p>
<p>Description: <%= @resource.description %></p>
<p>Categories:</p>
<ul>
    <% @resource.categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
</ul>

<div class="button-group">
<%= link_to "New", new_resource_path, class: "button" %>
<%= link_to "Edit", edit_resource_path(@resource), class: "button" %>
<%= form_with model: @resource, method: "delete" do |f| %>
    <%= f.submit "Delete", class: "button" %>
<% end %>
</div>