<h1 class="text-center"><i class="fas fa-paperclip"></i> Resource: <%= @resource.name %></h1>
<p>Amount: <%= number_to_currency(@resource.amount, unit: "$", precision: 0) %></p>
<p>Link: <%= link_to @resource.link, @resource.link %></p>
<p>Organization: <%= link_to @resource.organization_name, organization_path(@resource.organization) %></p>
<p>Description: <%= @resource.description %></p>
<p>Categories:
    <% @resource.categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
    <% end %>
</p>
<p>Average Rating: <%= number_with_precision @rating, precision: 2 %></p>

<%= form_with url: ratings_path do |f| %>
    <%= f.hidden_field :resource_id, value: @resource.id %>
    <%= f.label "Leave a Rating" %>
    <div class="input-group rating"> 
        <%= f.select :rating, 1...6, class: "input-group-field" %>
        <div class="input-group-button">
            <%= f.submit "Rate", class: "hollow button" %>
        </div>
    </div>
<% end %>

<div class="button-group">
<%= link_to "New", new_resource_path, class: "button" %>
<%= link_to "Edit", edit_resource_path(@resource), class: "button" %>
<%= form_with model: @resource, method: "delete" do |f| %>
    <%= f.submit "Delete", class: "button" %>
<% end %>
</div>