<h1>Organization Show</h1>
<p><%= @organization.name %></p>

<h2><%= link_to "Available Resources", organization_resources_path(@organization) %></h2>
<ul>
<% if @organization.resources.empty? %>
    <li>No Resources Available</li>
<% else %>
    <% @organization.resources.order(name: :asc).each do |resource| %>
        <li><%= link_to resource.name, resource_path(resource) %></li>
    <% end %>
<% end %>
</ul>
<p><%= link_to "Add a New Resource", new_organization_resource_path(@organization) %></p>

<div class="button-group">
    <%= link_to "New", new_organization_path, class: "button" %>
    <%= link_to "Edit", edit_organization_path(@organization), class: "button" %>
    <%= form_with model: @organization, method: "delete" do |f| %>
        <%= f.submit "Delete", class: "button" %>
    <% end %>
</div>