<h1 class="text-center">Organization: <%= @organization.name %></h1>
<h3><%= link_to "Available Resources", organization_resources_path(@organization) %></h3>
<ul>
    <% if @organization.resources.empty? %>
        <li>No Resources Available</li>
    <% else %>
        <% @organization.resources.order(name: :asc).each do |resource| %>
            <li><%= link_to resource.name, resource_path(resource) %></li>
        <% end %>
        <br>
        <li>Total Funding Available: <%= number_to_currency(@total_amount, unit: "$", precision: 0) %></li>
        <br>
    <% end %>
    <li><i class="fas fa-paperclip"></i> <%= link_to "Add a New Resource for #{@organization.name}", new_organization_resource_path(@organization) %></li>
</ul>

<div class="button-group">
    <%= link_to "New", new_organization_path, class: "button" %>
    <%= link_to "Edit", edit_organization_path(@organization), class: "button" %>
    <%= form_with model: @organization, method: "delete" do |f| %>
        <%= f.submit "Delete", class: "button" %>
    <% end %>
</div>