<h1 class="text-center">Category: <%= @category.name %></h1>
<h3>Available Resources</h3>
<ul>
<% if @category.resources.empty? %>
    <li>No Resources Available</li>
<% else %>
    <% @category.resources.each do |resource| %>
        <li><%= link_to resource.name, resource_path(resource) %></li>
    <% end %>
<% end %>
</ul>

<div class="button-group">
    <%= link_to "New", new_category_path, class: "button" %>
    <%= link_to "Edit", edit_category_path(@category), class: "button" %>
    <%= form_with model: @category, method: "delete" do |f| %>
        <%= f.submit "Delete", class: "button" %>
    <% end %>
</div>
