<h1 class="text-center">Category: <%= @category.name %></h1>
<h3>Available Resources</h3>
<ul>
    <%= resource_list_index @category %>
</ul>

<div class="button-group">
    <%= link_to "Edit", edit_category_path(@category), class: "button" %>
    <%= form_with model: @category, method: "delete" do |f| %>
        <%= f.submit "Delete", class: "button" %>
    <% end %>
</div>

<%= link_to "Add New Category", new_category_path, class: "button" %>
